service cloud.firestore {
  match /databases/{database}/documents {
    match /games/{document} {
    	allow read: if request.auth.uid in resource.data.players.keys();
      allow create: if request.auth != null;
      allow delete: if resource.data.owner == request.auth.uid;
    }
  }
}
